body {
    background-color: rgb(240, 240, 240);
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.card {
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    /* Sprečava bilo šta da izlazi van okvira */
}

.card-body {
    position: relative;
    overflow: hidden;
    /* Sprečava slike ili elemente da izlaze van */
}

.body img {
    max-width: 100%;
    height: auto;
    display: block;
    /* Obezbeđuje da slike zauzimaju blok i ostaju unutar elementa */
    object-fit: cover;
}

.body {
    word-wrap: break-word;
    /* Sprečava preduge reči da izlaze van okvira */
}

.comments-section {
    max-height: 300px;
    overflow-y: auto;
}

/* ////////////// */
.comments-section {
    max-height: 200px;
    /* Ograničena visina za deo komentara, prilagođeno za otprilike trećinu */
    overflow-y: auto;
    /* Skrol traka za duže komentare */
    padding-right: 10px;
    /* Dodatni razmak za skrol */
}

.comments .card-body {
    padding: 10px 15px;
    /* Smanjen padding unutar card-body */
}

.comments .row {
    margin-bottom: 10px;
    /* Manji razmak između komentara */
}

/* /////////////////////// */
.btn {
    margin-right: 6px;
    margin-top: 4px;
    margin-bottom: 2px;
}

.container-short {
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    box-shadow: 0 0 10px #888888;
    border-radius: 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.comment-actions {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .comments-section {
        max-height: none;
    }
}